<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="com.app.spinner.App"
        android:allowBackup="false"
        android:configChanges="orientation"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <!--                Test Admob      -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="uvDghG0ei6thCFan7x8_WR6GsSgT04T-oryCFOJAb3rHE0IMDsQ9eD_PvtPbHHXkTmA_J_0lq0TRoNNFtTdMzV" />
        <!---->

        <meta-data
            android:name="applovin.sdk.mediation_provider"
            android:value="max" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />

        <meta-data
            android:name="com.facebook.sdk.AutoInitEnabled"
            android:value="true" />

        <activity
            android:name="com.app.spinner.activity.MainActivity"
            android:exported="true"
            android:icon="@drawable/icon_app"
            android:roundIcon="@drawable/icon_app"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.app.spinner.activity.ListSpinnerDemoActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <activity
            android:name="com.app.spinner.activity.SpinnnerViewActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <activity
            android:name="com.app.spinner.activity.DrawSpinnerActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

<!--        <activity-->
<!--            android:name="com.app.spinner.activity.MainActivity"-->
<!--            android:clearTaskOnLaunch="true"-->
<!--            android:exported="true"-->
<!--            android:launchMode="singleTask"-->
<!--            android:screenOrientation="portrait"-->
<!--            tools:ignore="DiscouragedApi,LockedOrientationActivity" />-->

    </application>

</manifest>